/* global stylings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-color: #636763;
  height: 85vh;
  width: 100%;
  color: #c1e5bd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main2 {
  height: 400px;
  width: 950px;
  display: flex;
  border-radius: 15px;
  justify-content: space-between;
}

a {
  color: #fff;
  font-size: bold;
}

label {
  font-size: x-large;
}

p {
  color: #c1e5bd;
}
/* end global styling */

/* start of header section */
.header {
  background-color: #222722;
  height: 10vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* end of header section */

/* start of the description section */
.description {
  background-color: #222722;
  border-radius: 15px;
  border: 5px solid #c1e5bd;
  height: 400px;
  width: 400px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* end of the description section */

/* start of form section */
.calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formdata {
  background-color: #222722;
  margin-bottom: 50px;
  height: 300px;
  width: 500px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px #c1e5bd;
}
select {
  width: 100px;
  border-radius: 10px;
}
button {
  background-color: #636763;
  color: #c1e5bd;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-size: large;
  transition: 0.5s;
}

#display {
  background-color: #c1e5bd;
  width: 300px;
  height: 100px;
  color: #222722;
  box-shadow: 0 0 50px #222722;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end of form section */

/* start footer section */
.footer {
  background-color: #222722;
  color: #fff;
  display: flex;
  height: 5vh;
  justify-content: space-around;
  align-items: center;
}
/* end footer section  */
button:hover {
  /* border: #c1e5bd; */
  /* background-color: #222722; */
  border-color: #c1e5bd;
}
h2 {
  transition-delay: 0.5;
}
h2:hover {
  font-size: xx-large;
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  body {
    color: black;
  }
}
/* @media screen and (min-width: 801px) {
  body {
    width: 220px;
    float: left;
    padding: 15px;
  }
} */
